@media screen and (min-width: 600px)
{
    #menu {
        display: none;
    }

    .left-bar {
        display: block;
        width: 200px;
        background: black;
        position: relative;
        padding: 1%;
        border-right: red solid 5px;
        background: black;
        position: relative;
    }

    .navigation {
        display: block;
        text-align: center;
    }

    .navigation a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .aboutcontent h1 {
        width: 20rem;
    }

    #skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.4fr 1fr;
    }

    .WebProject p {
        font-size: 25px;
      }

    .project-link {
        width: 20%;
        padding: 0.5rem;
        margin-top: 2%;
    }

}