@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur_Condensed-Regular.ttf') format('truetype');
  }

body {
    font-family: 'Tektur', sans-serif;
    margin: 0;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    overflow-x: hidden;
  }
  
  .left-bar {
    width: 200px;
    background: black;
    position: relative;
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border: 3px solid red;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
  }
  
  .website-name {
    color: white;
    text-align: center;
    font-size: 30px;

  }
  
  .navigation {
    margin-top: 20px;
    text-align: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .nav-link:hover {
    color: red;
    transform: scale(1.1);

  }
  
  .content {
    flex-grow: 1;
    color: darkgray;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .project-link {
    color: white;
    background: gray;
    text-decoration: none;
    font-size: 60px;
    margin: 70px;
    padding: 10px;
    transition: all 0.3s ease;
    min-height: 50px;
    border-radius: 5%;
 
  }
  
  .project-link:hover {
    color: red;
    transform: scale(1.1);
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat;
    animation: parallaxScroll 90s linear infinite; 
    opacity: 70%;
  }

  @keyframes parallaxScroll {
    0% {
      background: url('../images/missionWeb.png');
  }
  25% {
      background: url('../images/drawingWeb.png');
  }
  50% {
      background: url('../images/quizWeb.png');
  }
  75% {
      background: url('../images/M777.png');
  }
  100% {
      background: url('../images/apollo11.png');
  }
  }

  footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: red;
  }

/*About Page*/

.background2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: black;
  animation: parallaxScroll2 90s linear infinite; 
  opacity: 70%;
}

@keyframes parallaxScroll2 {
  0% {
    background: url('../images/.png');
}
25% {
    background: url('../images/.png');
}
50% {
    background: url('../images/.png');
}
75% {
    background: url('../images/');
}
100% {
    background: url('../images/');
}
}